.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.main {
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  color: #2684ff;
}
