* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial";
}

html,
body {
  height: 100vh;
  background: #ffde19;
  color: #121212;
  transition: background 0.2s linear;
}

.dark {
  background: #121212;
  color: #ffde19;
}
